<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
	<session-factory>
	
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/db_java_brains_hibernate</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">99346554</property>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<mapping class="br.com.jkavdev.hibernate.dto.UserDetails"/>
		
	</session-factory>
</hibernate-configuration>
