body {
	background-image: url('http://crunchify.com/bg.png');
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #DFDFDF;
}

html, body{
	height: 100%;
}

.container templates {
	border: #C1C1C1 solid 1px;
	border-radius: 10px;
}

.span-5 border {
	height: 400px;
	background-color: #FCFCFC;
}

.list-group {
	margin-top: 2em;
}

.list-group a {
	width: 20em;
}

.footers {
	position: absolute;
	bottom: 0;
	width: 100%; /* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.message {
	font-family: verdana;
	padding: 10px;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
}

span {
	text-align: center;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.panel-default {
	margin-left: 10px;
	margin-right: 10px;
}

.required>.control-label:after {
	content: "*";
}

.titulo-painel {
	float: left;
	padding-top: 2px;
}

.link-painel {
	float: right;
	padding: 0px;
}

.navbar-brand {
	padding-top: 12px;
}

.intervalo-valores {
	margin: 0 15px;
}

.descricao {
	white-space: pre;
}

.control-label-meio {
	margin: 5px;
}

.tabela-resultado {
	margin: 15px;
}