<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- cria a referencia para jndi -->
	<bean id="FinanceiroDataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean.di.app.Message">
		<property name="jndiName">
			<value>java:com/env/jdbc/db_financeiro</value>
		</property>
	</bean>

</beans>