<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                         http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- agrupador das configuracoes do contexto web do sistema -->
	<http auto-config="true">
		<!-- configuracao das paginas e diretorios, que serao seguros -->
		<!-- pattern - padrao de url que sera interceptado pelo security -->
		<!-- acess - nome da permissao que serao aceitos para acesso ao recurso -->
		<intercept-url pattern="*/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="*/restrito/**" access="ROLE_USUARIO" />
		
		<!-- configura o funcionamento da pagina de login -->
		<!-- login-page - url para exibir a pagina de login do sistema -->
		<!-- always-use-default-target - o usuario sempre sera direcionado para a url em default-target-url -->
		<!-- default-target-url - url padrao a ser exibida depois do login -->
		<!-- authentication-failure-url - url a ser exibida caso o login de falha -->
		<form-login
			login-page="/publico/login.jsf"
			always-use-default-target="true"
			default-target-url="/restrito/principal.jsf"
			authentication-failure-url="/publico/login.jsf?login_error=1"/>
		
		<!-- habilita o recurso de logout de para o sistema -->
		<logout />
		<!-- habilita o recurso de login automatico no sistema -->
		<remember-me />
	</http>
	
	<authentication-manager >
		<!-- informara ao spring quais sao os usuarios e suas permissoes -->		
		<authentication-provider>
			<!-- fazendo com que o spring exergue os usuarios do banco -->
			<!-- jdbc-user-service - permite declarar as sql que fornecerao os dados do bancoo -->
			<!-- data-source-ref - indica o nome do arquivo jndi criado -->
			<!-- users-by-username-query - indica os dados do usuario que sera validados pelo spring, logados no sistema -->
			<!-- authorities-by-username-query - indica os usuarios e suas permissoes no sistema -->
			<jdbc-user-service 
				data-source-ref="financeiroDataSource"
				authorities-by-username-query="SELECT u.login, p.permissao
												FROM usuario u, usuario_permissao p
												WHERE u.codigo = p.usuario AND u.login = ?"
												
				users-by-username-query="SELECT login, senha, ativo FROM usuario WHERE login = ?" />
		</authentication-provider>	
	</authentication-manager>

</beans:beans>